:root {
  --text-color: #333;
  --hover-color: #817f7f; /* Adjust this to the lighter color you prefer */
  --border-color: #ddd; /* Color of the section borders */
  --image-background-color: #f4f4f4; /* Background color of the image */
}

.sidebar {
  width: 150px;
  background-color: #ffffff;
  padding: 0px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(141, 37, 37, 0.1);
  font-family: Arial, sans-serif;
}

.logo {
  margin-bottom: 0; /* Remove bottom margin */
  text-align: center;
  border-right: 1px solid var(--border-color);
  padding: 20px 0; /* Add padding to create space around the image */
}

.logo img {
  width: 50px;
  background-color: var(--image-background-color);
  border-radius: 15px;
  padding: 10px; /* Add padding to create space inside the background */
}


.main-links, .interfaces, .contact {
  border: 1px solid var(--border-color);
  padding: 10px 10px 10px 15px; /* Adjusted padding */
  background-color: #ffffff; /* Ensure the background color is white */
  text-align: left;
}

.main-links {
  border-top: 0; /* Remove the top border */
}

nav ul li {
  margin-bottom: 10px; /* Adjusted spacing between list items */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li { /* Top Header */
  margin-bottom: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px; /* Smaller font size for the top text */
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
}

nav ul li a:hover {
  color: var(--hover-color);
}

.interfaces h3, /* HUMAN INTERFACE  WEB INTERFACE */
.contact h3 {
  margin-top: 20px;
  font-size: 10px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;

}


.interfaces ul,
.contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interfaces ul li,
.contact ul li {
  margin-bottom: 10px;
  font-size: 12px;
}

.contact{
  background-color: #ffffff;
}


.contact ul li a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.contact ul li a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

.contact ul {
  padding: 0; /* Remove any extra padding */
  margin: 0; /* Remove any extra margin */
}

.contact ul li {
  margin-bottom: 10px;
  font-size: 12px;
}